:root{
  --cor-de-fundo: lightgray;/*
      --cor-de-fundo-escura: #583b26;
      --cor-de-fundo-clara: #583b26b4;*/

  --cor-secundaria: #A67B5B;

  --cor-terciaria: #0056b3;/*
      --cor-terciaria-clara: rgba(236, 177, 118, 0.623);
          --cor-terciaria-clara-escura: rgba(236, 177, 118, 0.767);
      --cor-terciaria-clarissima: rgba(236, 177, 118, 0.247);*/

  --cor-da-fonte: #000000;/*
      --cor-da-fonte-rgb: rgb(254, 216, 177);
      --cor-da-fonte-clara: rgba(254, 216, 177, 0.712);*/

  --cor-border: #0056b3;

  --cor-btn-bg: #149c32;
    --cor-btn-bg-hover:#0f6e23;
    --cor-btn-border: #00000000;
    --cor-btn-fonte: #ffffff;
}

body {
  background-color: lightgray;
}

.navbar-brand img {
  width: 50px;
}

#main-title {
  text-align: center;
  margin: 15px 0 30px;
}

/* HOME */
#stock-table {
  max-width: 400px;
  margin: 0 auto;
}

#stock-table thead {
  color: #FFF;
  background-color: #007BFF;
  width: 30px !important; 
}

.col-id {
  font-weight: bold;
}

.actions {
  text-align: right;
  width: 150px;
}

.actions i {
  font-size: 18px;
  margin-right: 5px;
}

.check-icon {
  color: #1E7E34;
}

.edit-icon {
  color: #007BFF;
}

.icon-green {
  color: rgb(50, 241, 50); 
  display: inline-block;
}

.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #BD2130;
}

.form-custom {
  color: #000000;
  background-color: var(--cor-terciaria);
  border: 1px, solid, var(--cor-border);
  border-radius: 0.5rem;
}

.form-field-custom {
  background-color: var(--cor-de-fundo);
  color: var(--cor-da-fonte) !important;
  border: 1px, solid, var(--cor-border);
  --bs-body-color:var(--cor-da-fonte);
  --bs-body-bg:var(--cor-de-fundo);
}

.form-label-custom {
  --bs-body-bg:var(--cor-de-fundo);
  --bs-body-color:var(--cor-da-fonte);
  --bs-body-color-rgb:var(--cor-da-fonte-rgb);
  --bs-highlight-bg:var(--cor-de-fundo);
}

.btn-primary {
  background-color: var(--cor-btn-bg);
  border-color: var(--cor-btn-border);
  color: var(--cor-btn-fonte);
  --bs-btn-hover-color: var(--cor-btn-fonte);
  --bs-btn-hover-bg: var(--cor-btn-bg-hover);
  --bs-btn-hover-border-color: var(--cor-btn-border);

}

#empty-list-text {
  text-align: center;
}

#msg {
  color: #155724;
  background-color: #D4EDDA;
  border: 1px solid #C3E6CB;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
  max-width: 500px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

#back-link-container {
  display: block;
  width: 500px;
  margin: 30px auto 0;
}

#back-link {
  border: 1px solid #007BFF;
  color: #007BFF;
  border-radius: 4px;
  padding: 5px;
}

#back-link:hover {
  text-decoration: none;
}

/* CREATE */
#create-form,
#edit-form {
  max-width: 500px;
  margin: 0 auto;
}

/* MOBILE */
@media(max-width: 480px) {

  #home-link {
    display: none;
  }

}