:root {
  --cor-de-fundo: lightgray;
  --cor-secundaria: #A67B5B;
  --cor-terciaria: #0056b3;
  --cor-da-fonte: #000000;
  --cor-border: #0056b3;
  --cor-btn-bg: #149c32;
  --cor-btn-bg-hover: #0f6e23;
  --cor-btn-border: transparent;
  --cor-btn-fonte: #ffffff;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: 'Arial', sans-serif;
  color: var(--cor-da-fonte);
}

/* Estilos Gerais */
.container {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#main-title {
  text-align: center;
  color: var(--cor-terciaria);
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}

#msg {
  text-align: center;
  color: #28a745;
  background-color: #D4EDDA;
  border: 1px solid #C3E6CB;
  padding: 10px;
  max-width: 500px;
  margin: 30px auto 0;
}

/* Estilos da Tabela */
.table {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.table th {
  background-color: var(--cor-terciaria);
  color: #fff;
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para Ações e Ícones */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions a, .actions button {
  margin: 0 5px;
  font-size: 1.2rem;
  color: var(--cor-terciaria);
}

.actions .edit-icon {
  color: #ffc107;
}

.actions .check-icon, .actions .icon-green {
  color: #28a745;
}

.actions .check-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

/* Estilo para o Texto quando a Lista está Vazia */
#empty-list-text {
  text-align: center;
  color: #dc3545;
  font-weight: bold;
}

#empty-list-text a {
  color: var(--cor-terciaria);
  text-decoration: none;
}

#empty-list-text a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  background-color: var(--cor-terciaria);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.navbar-brand img {
  width: 60px;
  height: 60px;
  margin: 0 30px;
}

.nav-link {
  color: #f8f9fa !important;
  font-size: 1.1rem;
  margin-right: 15px;
}

.nav-link:hover {
  color: #FFD700 !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu {
  background-color: var(--cor-terciaria);
  border: none;
  --bs-dropdown-link-hover-color: #FFD700;
}

.dropdown-header {
  color: #fff;
  background-color: #004a9f;
}

.dropdown-item {
  color: #f8f9fa;
}

.dropdown-item:hover {
  background-color: #003b82;
}

/* Estilo do Botão */
.btn-success {
  background-color: var(--cor-btn-bg);
  border-color: var(--cor-btn-border);
  color: var(--cor-btn-fonte);
}

.btn-success:hover {
  background-color: var(--cor-btn-bg-hover);
  border-color: var(--cor-btn-border);
}

/* Formulário */
.form-custom {
  background-color: var(--cor-terciaria);
  border: 1px solid var(--cor-border);
  border-radius: 0.5rem;
  padding: 10px;
  color: var(--cor-da-fonte);
}

.form-field-custom {
  background-color: var(--cor-de-fundo);
  color: var(--cor-da-fonte);
  border: 1px solid var(--cor-border);
}

/* Responsividade */
@media (max-width: 768px) {
  .table th, .table td {
    font-size: 0.9rem;
  }

  #main-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 35px;
  }

  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #home-link {
    display: none;
  }
}
  