:root{
  --cor-de-fundo: lightgray;/*
      --cor-de-fundo-escura: #583b26;
      --cor-de-fundo-clara: #583b26b4;*/

  --cor-secundaria: #A67B5B;

  --cor-terciaria: #0056b3;/*
      --cor-terciaria-clara: rgba(236, 177, 118, 0.623);
          --cor-terciaria-clara-escura: rgba(236, 177, 118, 0.767);
      --cor-terciaria-clarissima: rgba(236, 177, 118, 0.247);*/

  --cor-da-fonte: #000000;/*
      --cor-da-fonte-rgb: rgb(254, 216, 177);
      --cor-da-fonte-clara: rgba(254, 216, 177, 0.712);*/

  --cor-border: #0056b3;

  --cor-btn-bg: #149c32;
    --cor-btn-bg-hover:#0f6e23;
    --cor-btn-border: #00000000;
    --cor-btn-fonte: #ffffff;
}

body {
  background-color: lightgray;
}

.navbar-brand img {
  width: 50px;
}

#main-title {
  text-align: center;
  margin: 15px 0 30px;
}

/* HOME */
#stock-table {
  max-width: 400px;
  margin: 0 auto;
}

#stock-table thead {
  color: #FFF;
  background-color: #007BFF;
}

.col-id {
  font-weight: bold;
}

.actions {
  text-align: right;
  width: 150px;
}

.actions i {
  font-size: 18px;
  margin-right: 5px;
}

.check-icon {
  color: #1E7E34;
}

.edit-icon {
  color: #007BFF;
}

.icon-green {
  color: rgb(50, 241, 50); 
  display: inline-block;
}

.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #BD2130;
}

.form-custom {
  color: #000000;
  background-color: var(--cor-terciaria);
  border: 1px, solid, var(--cor-border);
  border-radius: 0.5rem;
}

.form-field-custom {
  background-color: var(--cor-de-fundo);
  color: var(--cor-da-fonte) !important;
  border: 1px, solid, var(--cor-border);
  --bs-body-color:var(--cor-da-fonte);
  --bs-body-bg:var(--cor-de-fundo);
}

.form-label-custom {
  --bs-body-bg:var(--cor-de-fundo);
  --bs-body-color:var(--cor-da-fonte);
  --bs-body-color-rgb:var(--cor-da-fonte-rgb);
  --bs-highlight-bg:var(--cor-de-fundo);
}

.btn-primary {
  background-color: var(--cor-btn-bg);
  border-color: var(--cor-btn-border);
  color: var(--cor-btn-fonte);
  --bs-btn-hover-color: var(--cor-btn-fonte);
  --bs-btn-hover-bg: var(--cor-btn-bg-hover);
  --bs-btn-hover-border-color: var(--cor-btn-border);

}

#empty-list-text {
  text-align: center;
}

#msg {
  color: #155724;
  background-color: #D4EDDA;
  border: 1px solid #C3E6CB;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
  max-width: 500px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

#back-link-container {
  display: block;
  width: 500px;
  margin: 100px auto 0;
}

/* Estilos para a Navbar */
.navbar {
  background-color: #0056b3 !important; /* Azul mais escuro para o fundo */
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1); /* Sombra para a navbar */
  height: 80pxpx;
}

.navbar-brand img {
  width: 60px;
  height: 60px; /* Ajusta a altura do logo */
  margin-right: 30px;
  margin-left: 30px;
}

.nav-link {
  color: #f8f9fa !important; /* Cor clara para os links */
  font-size: 1.1rem; /* Aumenta um pouco o tamanho da fonte */
  margin-right: 15px;
}

.nav-link:hover {
  color: #FFD700 !important; /* Cor dourada ao passar o mouse */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Sombra suave nos links ao hover */
}

.navbar-nav .dropdown-menu {
  background-color: #0056b3; /* Cor do menu dropdown */
  border: none;
}

.dropdown-menu .dropdown-header {
  color: #fff;
  background-color: #004a9f; /* Cor mais escura no cabeçalho do dropdown */
}

.dropdown-menu .dropdown-item {
  color: #f8f9fa;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #003b82; /* Fundo mais escuro ao passar o mouse no dropdown */
}

/* Estilos para o botão de login */
.navbar-content {
  font-size: 1.1rem;
  color: #f8f9fa !important;
}

.navbar-content:hover {
  color: #FFD700 !important; /* Dourado ao passar o mouse */
}

.navbar-toggler {
  border-color: #fff; /* Altera a cor da borda do botão mobile */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Alterando a cor do ícone da navbar mobile */
}

/* Responsividade para o cabeçalho */
@media (max-width: 992px) {
  .navbar-brand img {
    height: 35px; /* Ajusta o tamanho do logo em telas menores */
  }

  .navbar-nav {
    text-align: center; /* Centraliza os itens em dispositivos menores */
  }
}


#back-link {
  border: 1px solid #007BFF;
  color: #007BFF;
  border-radius: 4px;
  padding: 5px;
}

#back-link:hover {
  text-decoration: none;
}

/* CREATE */
#create-form,
#edit-form {
  max-width: 500px;
  margin: 0 auto;
}

/* MOBILE */
@media(max-width: 480px) {

  #home-link {
    display: none;
  }

}